
h1{
    text-align: center;
}

img{
    border-radius: 20%
}
#minhafoto{
    padding-left: 32%;
    float: left;
}
#minhadescricao{
    padding-right: 32%;
    padding-top: 4%;
    float: right;
}
#topicoDeHabilidade{
    padding-right: 32%;
    padding-top: 4%;
    position: absolute;

    
}

div.button botao1 botao2{
    background-color: rgb(88, 88, 2);
    color: black;
    

}


body{
  background-color: rgb(204, 202, 202);
  color: rgb(88, 88, 2);
}
.topicos{
  font-family: cursive;
  color: rgb(88, 88, 2);
}

#descricao{
    display: inline-block;
}

.button{
    padding-left: 50%;
}

