body{
    background-color: rgb(226, 226, 170);
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

#blocoGeral{
    text-align: center;
    color: rgb(1, 37, 1);

}
#fotoDescricaoHabilidades{
    
    display: inline-block;
    width: 50%;

}
#foto{
    border-radius: 20%;
    
    
}
#descricaoHabilidades{
    

}
#descricao{
    font-family: 'Courier New', Courier, monospace;

}
#habilidades{
    font-family: 'Courier New', Courier, monospace;
}
#habilidadelista{
    list-style: none;
}

.poraolado{
    display: inline-block;
    width: 30%;
}